<div class="container-fluid mt-3">
    <div class="row bg-warning pt-3 pb-3">
        <div class="col-md-6 d-flex justify-content-center">
            <img
            class="demo-bg"
            src="assets/img/emp3.png"
            alt="" width="200" height="200"
          >
        </div>
        <div class="col-md-6">
            <i class="fa-solid fa-envelope red-color"></i><br> dsrtrstes@gmail.com<br>
            <i class="fa-solid fa-phone red-color"></i> <br>9383739229<br>
            <i class="fa-solid fa-location red-color"></i><br>Hyderabad<br><br>
        </div>
        </div>
        </div>
