<div class="container-fluid mt-1">
  <section id="breadcrumbs" class="breadcrumbs mt-1">
      <div class="container">
  
        <div class="d-flex justify-content-between align-items-center">
          <h2>Technical Skills</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Technical Skills</li>
          </ol>
        </div>
  
      </div>
    </section>

<div class="container mt-3">
    <h5>HTML5</h5>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <h5>CSS3</h5>
              <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <h5>Javascript</h5>
              <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <h5>JQuery</h5>
              <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <h5>PHP</h5>
              <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <h5>SQL</h5>
              <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <h5>XML</h5>
              <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
</div></div>