<div class="container mt-3">
    <div class="row">
        <div class="col-md-4 m-auto">
            <div class="card animated jello">
                 <!--Alert Message-->
    <div *ngIf="message" class="alert alert-success alert-dismissable sticky-top animated slideInDown">
        <button class="close" data-dismiss="alert">
            <i class="fa fa-times-circle"></i>
        </button>
        {{message}}
    </div>
                <div class="card-header bg-info text-white">
                  <p class="h4">Register Here</p>
                </div>
            
                <div class="card-body bg-light">
                <form (submit)="submitRegister()">
                    <div class="form-group">
                        <input 
                        #username="ngModel"
                        name="username"
                        [(ngModel)]="user.name"
                        [class.is-invalid]="username.touched && username.invalid"
                        [class.is-valid]="username.touched && username.valid"
                        type="text" class="form-control" placeholder="Username" required pattern="^[A-Za-z][A-Za-z0-9_]{3,16}$"
                        >
                        <div *ngIf="username.touched && username.invalid">
                          <small class="text-danger">Username contains Alphabets and Numbers only</small>
                        </div>
                        <div *ngIf="username.touched && username.valid">
                          <small class="text-success">Looks Good</small>
                        </div>
                      </div><br>
                    <div class="form-group">
                        <input 
                        #email="ngModel"
                        name="email"
                        [(ngModel)]="user.email"
                        [class.is-invalid]="email.touched && email.invalid"
                        [class.is-valid]="email.touched && email.valid"
                        type="email" class="form-control" placeholder="Email" required pattern="([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,12})+$">
                        <div *ngIf="email.touched && email.invalid">
                          
                          <small class="text-danger">Enter a proper Email</small>
                        </div>
                        <div *ngIf="email.touched && email.valid">
                          <small class="text-success">Looks Good</small>
                        </div>
                      </div><br>
                    <div class="form-group">
                        <input 
                        #password="ngModel"
                        name="password"
                        [(ngModel)]="user.password"
                        [class.is-invalid]="password.touched && password.invalid"
                        [class.is-valid]="password.touched && password.valid"
                        type="password" class="form-control" placeholder="Password"  required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*])[A-Za-z0-9!@#$%^&*].{7,15}">
                        <div *ngIf="password.touched && password.invalid">
                            <small class="text-danger">password must contain capital,small letters,numbers and special characters</small>
                          </div>
                    </div>
    
   <br>
   <div>
                             <input type="submit" class="btn btn-info btn-sm" value="Register">
     </div>               
                    <small>Have an Account ?
                        <a routerLink="/user/login">Login</a>
                    </small>
                </form>
                </div>
               
            </div>
        </div>
    </div>
</div>