<div class="container-fluid mt-1">
    <section id="breadcrumbs" class="breadcrumbs mt-1">
        <div class="container">
    
          <div class="d-flex justify-content-between align-items-center">
            <h2>Education</h2>
            <ol>
              <li><a href="index.html">Home</a></li>
              <li>Education</li>
            </ol>
          </div>
    
        </div>
      </section>

<div class="container mt-3">
    <h2 class="text-danger">Education</h2>
    <hr>
   <h5 class="text-danger"> B.Tech</h5>
   Swarnandhra College Of Enginnering And Technology, Narsapur.
   <h5 class="text-danger"> Intermediate</h5>
   Aditya Junior College, Palakol.
   <h5 class="text-danger">S.S.C</h5>
   Alpha School, Marteru.
    <h2 class="text-danger">Courses & Training</h2>
    <hr>
    <b>Front End Web Developer Learning Path</b><br>
    lynda.com
    <br>
    <b>The Complete Javascript Course</b><br>
    udemy.com
</div></div>